#NewestNews
{
    display: flex;
    text-align: center;
}
#NewsLink
{
    margin: auto;
}
#ButtonHolder
{
    display: flex;
    text-align: center;
}
#FlashNewsButtons
{
    width: 100%;
}
#NewsContainer
{
    display: block;
    text-align: center;
    width: 100%;
}
#NewsShow
{
    width: 80%;
    margin: auto;
}
#NewsBlock
{
    border: 1px solid black;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}