<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
</head>
<body>
    {% block body %}
        <form method="Post" action="" novalidate>
            {{ form.hidden_tag() }}
            <div>
                {{ form.password.label }}
                {{ form.password(size=32) }}
                {% if form.password.errors %}
                    <ul>
                        {% for error in form.password.error %}
                            <li> {{ error }} </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                {{ form.password2.label }}
                {{ form.password2(size=32) }}
                {% if form.password.errors %}
                    <ul>
                        {% for error in form.password.error %}
                            <li> {{ error }} </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    {% endblock %}
</body>
</html>