<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
</head>
<body>
    {% block body %}
    <h1>Login:</h1>
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li> {{ message }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div>
            {{ form.username.label }}
            {{ form.username(size=16) }}
            {% if form.username.errors %}
                <ul>
                    {% for error in form.username.errors %}
                        <li> {{ error }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(size=16) }}
            {% if form.password.errors %}
                <ul>
                    {% for error in form.password.errors %}
                        <li> {{ error }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    {% endblock %}
</body>
</html>