<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Make your clubs here!</p>
    <form id="MakeClubs" method="Post" action="/produce_club/{{ key }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.howmany.label }}
            {{ form.howmany(min=1, max=max_clubs , step=1, value=1, id='Howmany') }}
            <p id="RangeValue"></p>
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>